In [1]:
import pandas as pd

In [7]:
columns = ['Wirkstoff', 'Datum']

In [18]:
df = pd.DataFrame(
            { 'Datum': [1, 2, 3],
            'Wirkstoff': ['z', 'xy', 'xy/z']
            }
                )

df

#noch einfacher: jede zeile einzeln mit datum, dann wirkstoff, zeile für zeile

   Datum Wirkstoff
0      1         z
1      2        xy
2      3      xy/z

links auch immer wieder abspeichern, wo ich die codes gefunden habe. 
https://stackoverflow.com/questions/55540899/creating-dataframe-column-with-text-strings-from-dummy-columns

https://medium.com/@sureshssarda/pandas-splitting-exploding-a-column-into-multiple-rows-b1b1d59ea12e

drop_duplicates, doppelte löschen, immer googeln

### IMMER REDUZIEREN AUF EIN MINIMUM, EINEN DUMMIE BAUEN, UND DAS DANN AUF DAS GROSSE KOMPLIZIERTE ANWENDEN