Hier versuche ich, die Jahre 2007 und 2008 zusammenzufügen

In [1]:
import camelot
import tabula
import pandas as pd

### 2007:

In [2]:
Firmen_2007 = camelot.read_pdf("Firmen_2007.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

Mein Code, verkürzt, ausführlich in Test Gewinnsteuer ein Jahr

In [3]:
#zurechtschneiden
test_df = Firmen_2007[0].df
Firmen_07 = test_df[12:]
firmen_2007 = Firmen_07.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'Anzahl Steuerpflichtige 2007', 'Betrag Kantonssteuer 2007 in CHF', 
           'lassweg']
firmen_2007.columns = headers

#überflüssige kolonnen weg
del firmen_2007['Weglassen']
del firmen_2007['weglassen']
del firmen_2007['lassweg']

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace("'", "").strip()
    return zeile
firmen_2007['Steuerbarer Gewinn ab CHF'] = firmen_2007['Steuerbarer Gewinn ab CHF'].apply(geputzt)
firmen_2007['Anzahl Steuerpflichtige 2007'] = firmen_2007['Anzahl Steuerpflichtige 2007'].apply(geputzt)
firmen_2007['Betrag Kantonssteuer 2007 in CHF'] = firmen_2007['Betrag Kantonssteuer 2007 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_07 = firmen_2007.T

#headers weg
Firmen07 = firmen_07[1:]

#headers neu setzen
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen07.columns = headers

#nur den Betrag Kantonssteuer rausziehen
Betrag_Kantonssteuer_2007 = Firmen07.drop(['Anzahl Steuerpflichtige 2007'])
Betrag_Kantonssteuer_2007

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2007 in CHF,996701,7654106,28215316,487465494,524331616

In [4]:
# Anzahl Steuerpflichtige rausziehen
Anzahl_Steuerpflichtige_2007 = Firmen07.drop(['Betrag Kantonssteuer 2007 in CHF'])
Anzahl_Steuerpflichtige_2007

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2007,18759,4028,2636,1723,27146

##### Meine zwei Tabellen heissen: 
Anzahl_Steuerpflichtige_2007 
Betrag_Kantonssteuer_2007

### 2008

In [5]:
Firmen_2008 = camelot.read_pdf("Firmen_2008.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [6]:
#zurechtschneiden
test_df = Firmen_2008[0].df
Firmen_08 = test_df[12:]
firmen_2008 = Firmen_08.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'Anzahl Steuerpflichtige 2008', 'Betrag Kantonssteuer 2008 in CHF', 
           'lassweg']
firmen_2008.columns = headers

#überflüssige kolonnen weg
del firmen_2008['Weglassen']
del firmen_2008['weglassen']
del firmen_2008['lassweg']

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace("'", "").strip()
    return zeile
firmen_2008['Steuerbarer Gewinn ab CHF'] = firmen_2008['Steuerbarer Gewinn ab CHF'].apply(geputzt)
firmen_2008['Anzahl Steuerpflichtige 2008'] = firmen_2008['Anzahl Steuerpflichtige 2008'].apply(geputzt)
firmen_2008['Betrag Kantonssteuer 2008 in CHF'] = firmen_2008['Betrag Kantonssteuer 2008 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_08 = firmen_2008.T

#headers weg
Firmen08 = firmen_08[1:]

#headers neu setzen
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen08.columns = headers

#nur den Betrag Kantonssteuer rausziehen
Betrag_Kantonssteuer_2008 = Firmen08.drop(['Anzahl Steuerpflichtige 2008'])
Betrag_Kantonssteuer_2008

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2008 in CHF,1270557,7609731,29853096,391904294,430637678

In [7]:
# Anzahl Steuerpflichtige rausziehen
Anzahl_Steuerpflichtige_2008 = Firmen08.drop(['Betrag Kantonssteuer 2008 in CHF'])
Anzahl_Steuerpflichtige_2008

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2008,19165,4172,2871,1764,27972

### Nun will ich jeweils die Anzahl Steuerpflichtigen und die Beträge Kantonssteuer zusammenführen in eine Tabelle

In [8]:
test_steuerpflichtige = pd.concat([Anzahl_Steuerpflichtige_2007, Anzahl_Steuerpflichtige_2008])
test_steuerpflichtige

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2007,18759,4028,2636,1723,27146
Anzahl Steuerpflichtige 2008,19165,4172,2871,1764,27972

In [9]:
test_betrag_kantonssteuer = pd.concat([Betrag_Kantonssteuer_2007, Betrag_Kantonssteuer_2008])
test_betrag_kantonssteuer

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2007 in CHF,996701,7654106,28215316,487465494,524331616
Betrag Kantonssteuer 2008 in CHF,1270557,7609731,29853096,391904294,430637678

Super! Jetzt gehe ich weiter und erfasse all diese lustigen PDFs bis 2014. Ab 2015 muss ich etwas spezielles basteln, weil dort eine neue Kategorie von Firmen dabei ist, jene von über 1 mio gewinn.

## Einlesen all der anderen PDF bis 2014

### 2009

In [10]:
Firmen_2009 = camelot.read_pdf("Firmen_2009.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [11]:
#zurechtschneiden
test_df = Firmen_2009[0].df
Firmen_09 = test_df[12:]
firmen_2009 = Firmen_09.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'Anzahl Steuerpflichtige 2009', 'Betrag Kantonssteuer 2009 in CHF', 
           'lassweg']
firmen_2009.columns = headers

#überflüssige kolonnen weg
del firmen_2009['Weglassen']
del firmen_2009['weglassen']
del firmen_2009['lassweg']

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace("'", "").strip()
    return zeile
firmen_2009['Steuerbarer Gewinn ab CHF'] = firmen_2009['Steuerbarer Gewinn ab CHF'].apply(geputzt)
firmen_2009['Anzahl Steuerpflichtige 2009'] = firmen_2009['Anzahl Steuerpflichtige 2009'].apply(geputzt)
firmen_2009['Betrag Kantonssteuer 2009 in CHF'] = firmen_2009['Betrag Kantonssteuer 2009 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_09 = firmen_2009.T

#headers weg
Firmen09 = firmen_09[1:]

#headers neu setzen
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen09.columns = headers

#nur den Betrag Kantonssteuer rausziehen
Betrag_Kantonssteuer_2009 = Firmen09.drop(['Anzahl Steuerpflichtige 2009'])
Betrag_Kantonssteuer_2009

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2009 in CHF,1309193,8020546,32339760,431058562,472728062

In [12]:
Anzahl_Steuerpflichtige_2009 = Firmen09.drop(['Betrag Kantonssteuer 2009 in CHF'])
Anzahl_Steuerpflichtige_2009

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2009,19749,4238,2992,1833,28812

### 2010

In [13]:
Firmen_2010 = camelot.read_pdf("Firmen_2010.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [14]:
#zurechtschneiden
test_df = Firmen_2010[0].df
Firmen_10 = test_df[12:]
firmen_2010 = Firmen_10.head(5)
firmen_2010

   0        1        2                               3      4          5
12          0   10'000  21'101\n           \n1'051'519  6'782    116'360
13     10'100   50'000   4'270\n           \n8'379'718    279    427'696
14     50'100  250'000    3'302\n         \n35'558'173     77    448'731
15    250'100        +     2'028\n       \n388'354'588     34  1'503'531
16      Total              30'701\n      \n433'343'998  7'172  2'496'318

Da sind also zwei Kolonnen in einer zusammengeführt mit diesem komischen doofen \n. knurr. ich experimentiere später damit. mal schauen, ob die anderen dieses Problem auch haben. 

Ich mach den Test mit dem zurechtschneiden-Code-Stücklein mit allen restlichen Jahren

Ab 2010 haben alle dieses Problem mit der dritten Kolonne. Das heisst, ich muss die irgendwie auseinander nehmen, dort woe da N ist. 2017 ist noch ein spezielles Jahr, da hats nur ein n drin. Ich mache das in einem neuen Notebook "n rausputzen".

## Hier weiter mit dem neuen Code
Ich übernehme ihn vom Notebook "n rausputzen"

In [45]:
#zurechtschneiden
test_df = Firmen_2010[0].df
Firmen_10 = test_df[12:]
firmen_2010 = Firmen_10.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'etwas seltsames',
           'lassweg', 'überflüssig']
firmen_2010.columns = headers

# aus einer Kolonne zwei Kolonnen machen
# von https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
getrennte_kolonnen10 = firmen_2010['etwas seltsames'].str.split(' ', 1, expand=True) 

# überflüssige kolonnen löschen
del firmen_2010['Weglassen']
del firmen_2010['weglassen']
del firmen_2010['lassweg']
del firmen_2010['etwas seltsames']
del firmen_2010['überflüssig']

#die beiden df firmen_2010 und getrennte_kolonnen zusammenfügen
Firmen_2010_neu = pd.concat([firmen_2010, getrennte_kolonnen10], axis=1)

#headers setzen
headers = ['Steuerbarer Gewinn ab CHF', 'Anzahl Steuerpflichtige 2010', 'Betrag Kantonssteuer 2010 in CHF']
Firmen_2010_neu.columns = headers

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '') #das neu rein
    zeile = zeile.replace("'", "").strip()
    return zeile
Firmen_2010_neu['Steuerbarer Gewinn ab CHF'] = Firmen_2010_neu['Steuerbarer Gewinn ab CHF'].apply(geputzt)
Firmen_2010_neu['Anzahl Steuerpflichtige 2010'] = Firmen_2010_neu['Anzahl Steuerpflichtige 2010'].apply(geputzt)
Firmen_2010_neu['Betrag Kantonssteuer 2010 in CHF'] = Firmen_2010_neu['Betrag Kantonssteuer 2010 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_10_neu = Firmen_2010_neu.T

# erste Zeile weg
Firmen10 = firmen_10_neu[1:]

# headers neu
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen10.columns = headers


# Betrag Kantonssteuer raus ziehen
Betrag_Kantonssteuer_2010 = Firmen10.drop(['Anzahl Steuerpflichtige 2010'])
Betrag_Kantonssteuer_2010

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2010 in CHF,1051519,8379718,35558173,388354588,433343998

In [46]:
# Anzahl Steuerzahler rausziehen
Anzahl_Steuerpflichtige_2010 = Firmen10.drop(['Betrag Kantonssteuer 2010 in CHF'])
Anzahl_Steuerpflichtige_2010

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2010,21101,4270,3302,2028,30701

### 2011

In [16]:
Firmen_2011 = camelot.read_pdf("Firmen_2011.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [47]:
#zurechtschneiden
test_df = Firmen_2011[0].df
Firmen_11 = test_df[12:]
firmen_2011 = Firmen_11.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'etwas seltsames',
           'lassweg', 'überflüssig']
firmen_2011.columns = headers

# aus einer Kolonne zwei Kolonnen machen
# von https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
getrennte_kolonnen11 = firmen_2011['etwas seltsames'].str.split(' ', 1, expand=True) 

# überflüssige kolonnen löschen
del firmen_2011['Weglassen']
del firmen_2011['weglassen']
del firmen_2011['lassweg']
del firmen_2011['etwas seltsames']
del firmen_2011['überflüssig']

#die beiden df firmen_2011 und getrennte_kolonnen zusammenfügen
Firmen_2011_neu = pd.concat([firmen_2011, getrennte_kolonnen11], axis=1)

#headers setzen
headers = ['Steuerbarer Gewinn ab CHF', 'Anzahl Steuerpflichtige 2011', 'Betrag Kantonssteuer 2011 in CHF']
Firmen_2011_neu.columns = headers

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '') #das neu rein
    zeile = zeile.replace("'", "").strip()
    return zeile
Firmen_2011_neu['Steuerbarer Gewinn ab CHF'] = Firmen_2011_neu['Steuerbarer Gewinn ab CHF'].apply(geputzt)
Firmen_2011_neu['Anzahl Steuerpflichtige 2011'] = Firmen_2011_neu['Anzahl Steuerpflichtige 2011'].apply(geputzt)
Firmen_2011_neu['Betrag Kantonssteuer 2011 in CHF'] = Firmen_2011_neu['Betrag Kantonssteuer 2011 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_11_neu = Firmen_2011_neu.T

# erste Zeile weg
Firmen11 = firmen_11_neu[1:]

# headers neu
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen11.columns = headers


# Betrag Kantonssteuer raus ziehen
Betrag_Kantonssteuer_2011 = Firmen11.drop(['Anzahl Steuerpflichtige 2011'])
Betrag_Kantonssteuer_2011

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2011 in CHF,953215,8743197,37792190,401481456,448970058

In [48]:
# Anzahl Steuerzahler rausziehen
Anzahl_Steuerpflichtige_2011 = Firmen11.drop(['Betrag Kantonssteuer 2011 in CHF'])
Anzahl_Steuerpflichtige_2011

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2011,21061,4659,3581,2148,31449

### 2012

In [50]:
Firmen_2012 = camelot.read_pdf("Firmen_2012.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [52]:
#zurechtschneiden
test_df = Firmen_2012[0].df
Firmen_12 = test_df[12:]
firmen_2012 = Firmen_12.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'etwas seltsames',
           'lassweg', 'überflüssig']
firmen_2012.columns = headers

# aus einer Kolonne zwei Kolonnen machen
# von https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
getrennte_kolonnen12 = firmen_2012['etwas seltsames'].str.split(' ', 1, expand=True) 

# überflüssige kolonnen löschen
del firmen_2012['Weglassen']
del firmen_2012['weglassen']
del firmen_2012['lassweg']
del firmen_2012['etwas seltsames']
del firmen_2012['überflüssig']

#die beiden df firmen_2011 und getrennte_kolonnen zusammenfügen
Firmen_2012_neu = pd.concat([firmen_2012, getrennte_kolonnen12], axis=1)

#headers setzen
headers = ['Steuerbarer Gewinn ab CHF', 'Anzahl Steuerpflichtige 2012', 'Betrag Kantonssteuer 2012 in CHF']
Firmen_2012_neu.columns = headers

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '') #das neu rein
    zeile = zeile.replace("'", "").strip()
    return zeile
Firmen_2012_neu['Steuerbarer Gewinn ab CHF'] = Firmen_2012_neu['Steuerbarer Gewinn ab CHF'].apply(geputzt)
Firmen_2012_neu['Anzahl Steuerpflichtige 2012'] = Firmen_2012_neu['Anzahl Steuerpflichtige 2012'].apply(geputzt)
Firmen_2012_neu['Betrag Kantonssteuer 2012 in CHF'] = Firmen_2012_neu['Betrag Kantonssteuer 2012 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_12_neu = Firmen_2012_neu.T

# erste Zeile weg
Firmen12 = firmen_12_neu[1:]

# headers neu
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen12.columns = headers


# Betrag Kantonssteuer raus ziehen
Betrag_Kantonssteuer_2012 = Firmen12.drop(['Anzahl Steuerpflichtige 2012'])
Betrag_Kantonssteuer_2012

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2012 in CHF,988128,8889203,39082269,446332012,495291612

In [53]:
# Anzahl Steuerzahler rausziehen
Anzahl_Steuerpflichtige_2012 = Firmen12.drop(['Betrag Kantonssteuer 2012 in CHF'])
Anzahl_Steuerpflichtige_2012

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2012,21770,4759,3746,2276,32551

### 2013

In [54]:
Firmen_2013 = camelot.read_pdf("Firmen_2013.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [55]:
#zurechtschneiden
test_df = Firmen_2013[0].df
Firmen_13 = test_df[12:]
firmen_2013 = Firmen_13.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'etwas seltsames',
           'lassweg', 'überflüssig']
firmen_2013.columns = headers

# aus einer Kolonne zwei Kolonnen machen
# von https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
getrennte_kolonnen13 = firmen_2013['etwas seltsames'].str.split(' ', 1, expand=True) 

# überflüssige kolonnen löschen
del firmen_2013['Weglassen']
del firmen_2013['weglassen']
del firmen_2013['lassweg']
del firmen_2013['etwas seltsames']
del firmen_2013['überflüssig']

#die beiden df firmen_2013 und getrennte_kolonnen zusammenfügen
Firmen_2013_neu = pd.concat([firmen_2013, getrennte_kolonnen13], axis=1)

#headers setzen
headers = ['Steuerbarer Gewinn ab CHF', 'Anzahl Steuerpflichtige 2013', 'Betrag Kantonssteuer 2013 in CHF']
Firmen_2013_neu.columns = headers

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '') #das neu rein
    zeile = zeile.replace("'", "").strip()
    return zeile
Firmen_2013_neu['Steuerbarer Gewinn ab CHF'] = Firmen_2013_neu['Steuerbarer Gewinn ab CHF'].apply(geputzt)
Firmen_2013_neu['Anzahl Steuerpflichtige 2013'] = Firmen_2013_neu['Anzahl Steuerpflichtige 2013'].apply(geputzt)
Firmen_2013_neu['Betrag Kantonssteuer 2013 in CHF'] = Firmen_2013_neu['Betrag Kantonssteuer 2013 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_13_neu = Firmen_2013_neu.T

# erste Zeile weg
Firmen13 = firmen_13_neu[1:]

# headers neu
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen13.columns = headers


# Betrag Kantonssteuer raus ziehen
Betrag_Kantonssteuer_2013 = Firmen13.drop(['Anzahl Steuerpflichtige 2013'])
Betrag_Kantonssteuer_2013

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2013 in CHF,1120619,9525772,41375861,479217253,531239504

In [56]:
# Anzahl Steuerzahler rausziehen
Anzahl_Steuerpflichtige_2013 = Firmen13.drop(['Betrag Kantonssteuer 2013 in CHF'])
Anzahl_Steuerpflichtige_2013

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2013,22561,4806,3926,2332,33625

### 2014

In [57]:
Firmen_2014 = camelot.read_pdf("Firmen_2014.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [58]:
#zurechtschneiden
test_df = Firmen_2014[0].df
Firmen_14 = test_df[12:]
firmen_2014 = Firmen_14.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'etwas seltsames',
           'lassweg', 'überflüssig']
firmen_2014.columns = headers

# aus einer Kolonne zwei Kolonnen machen
# von https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
getrennte_kolonnen14 = firmen_2014['etwas seltsames'].str.split(' ', 1, expand=True) 

# überflüssige kolonnen löschen
del firmen_2014['Weglassen']
del firmen_2014['weglassen']
del firmen_2014['lassweg']
del firmen_2014['etwas seltsames']
del firmen_2014['überflüssig']

#die beiden df firmen_2014 und getrennte_kolonnen zusammenfügen
Firmen_2014_neu = pd.concat([firmen_2014, getrennte_kolonnen14], axis=1)

#headers setzen
headers = ['Steuerbarer Gewinn ab CHF', 'Anzahl Steuerpflichtige 2014', 'Betrag Kantonssteuer 2014 in CHF']
Firmen_2014_neu.columns = headers

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '') #das neu rein
    zeile = zeile.replace("'", "").strip()
    return zeile
Firmen_2014_neu['Steuerbarer Gewinn ab CHF'] = Firmen_2014_neu['Steuerbarer Gewinn ab CHF'].apply(geputzt)
Firmen_2014_neu['Anzahl Steuerpflichtige 2014'] = Firmen_2014_neu['Anzahl Steuerpflichtige 2014'].apply(geputzt)
Firmen_2014_neu['Betrag Kantonssteuer 2014 in CHF'] = Firmen_2014_neu['Betrag Kantonssteuer 2014 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_14_neu = Firmen_2014_neu.T

# erste Zeile weg
Firmen14 = firmen_14_neu[1:]

# headers neu
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen14.columns = headers


# Betrag Kantonssteuer raus ziehen
Betrag_Kantonssteuer_2014 = Firmen14.drop(['Anzahl Steuerpflichtige 2014'])
Betrag_Kantonssteuer_2014

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2014 in CHF,1139949,10214132,43823295,487021441,542198817

In [59]:
Anzahl_Steuerpflichtige_2014 = Firmen14.drop(['Betrag Kantonssteuer 2014 in CHF'])
Anzahl_Steuerpflichtige_2014

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2014,23123,5130,4114,2416,34783

### Ich füge mal zusammen, was ich bislang habe:

In [61]:
zwischenstand_steuerpflichtige = pd.concat([Anzahl_Steuerpflichtige_2007, Anzahl_Steuerpflichtige_2008, 
                                           Anzahl_Steuerpflichtige_2009, Anzahl_Steuerpflichtige_2010,
                                           Anzahl_Steuerpflichtige_2011, Anzahl_Steuerpflichtige_2012,
                                           Anzahl_Steuerpflichtige_2013, Anzahl_Steuerpflichtige_2014])
zwischenstand_steuerpflichtige

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2007,18759,4028,2636,1723,27146
Anzahl Steuerpflichtige 2008,19165,4172,2871,1764,27972
Anzahl Steuerpflichtige 2009,19749,4238,2992,1833,28812
Anzahl Steuerpflichtige 2010,21101,4270,3302,2028,30701
Anzahl Steuerpflichtige 2011,21061,4659,3581,2148,31449
Anzahl Steuerpflichtige 2012,21770,4759,3746,2276,32551
Anzahl Steuerpflichtige 2013,22561,4806,3926,2332,33625
Anzahl Steuerpflichtige 2014,23123,5130,4114,2416,34783

In [62]:
zwischenstand_betrag_kantonssteuer = pd.concat([Betrag_Kantonssteuer_2007, Betrag_Kantonssteuer_2008,
                                               Betrag_Kantonssteuer_2009, Betrag_Kantonssteuer_2010,
                                               Betrag_Kantonssteuer_2011, Betrag_Kantonssteuer_2012,
                                               Betrag_Kantonssteuer_2013, Betrag_Kantonssteuer_2014])
zwischenstand_betrag_kantonssteuer

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2007 in CHF,996701,7654106,28215316,487465494,524331616
Betrag Kantonssteuer 2008 in CHF,1270557,7609731,29853096,391904294,430637678
Betrag Kantonssteuer 2009 in CHF,1309193,8020546,32339760,431058562,472728062
Betrag Kantonssteuer 2010 in CHF,1051519,8379718,35558173,388354588,433343998
Betrag Kantonssteuer 2011 in CHF,953215,8743197,37792190,401481456,448970058
Betrag Kantonssteuer 2012 in CHF,988128,8889203,39082269,446332012,495291612
Betrag Kantonssteuer 2013 in CHF,1120619,9525772,41375861,479217253,531239504
Betrag Kantonssteuer 2014 in CHF,1139949,10214132,43823295,487021441,542198817

### 2015

ACHTUNG: Ab hier hat die Steuerverwaltung eine weitere Kategorie Gewinnsteuer von über 1Mio eingefügt. Damit es vergleichbar bleibt zu den Vorjahren, muss ich diese mit der Kolonne von über 250100 Franken addieren. Das entwickle ich in einem neuen Notebook.

In [24]:
Firmen_2015 = camelot.read_pdf("Firmen_2015.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

Und hier kommt der neue Code, den ich im Notebook "Gewinnsteuer ab 2015" entwickelt habe

In [71]:
#zurechtschneiden
test_df = Firmen_2015[0].df
Firmen_15 = test_df[12:]
firmen_2015 = Firmen_15.head(6)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'etwas seltsames',
           'lassweg', 'überflüssig']
firmen_2015.columns = headers

# aus einer Kolonne zwei Kolonnen machen
# von https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
getrennte_kolonnen15 = firmen_2015['etwas seltsames'].str.split(' ', 1, expand=True)

# überflüssige kolonnen löschen
del firmen_2015['Weglassen']
del firmen_2015['weglassen']
del firmen_2015['lassweg']
del firmen_2015['etwas seltsames']
del firmen_2015['überflüssig']

#die beiden df firmen_2015 und getrennte_kolonnen zusammenfügen
Firmen_2015_neu = pd.concat([firmen_2015, getrennte_kolonnen15], axis=1)

#headers setzen
headers = ['Steuerbarer Gewinn ab CHF', 'Anzahl Steuerpflichtige 2015', 'Betrag Kantonssteuer 2015 in CHF']
Firmen_2015_neu.columns = headers

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '') #das neu rein
    zeile = zeile.replace("'", "").strip()
    return zeile
Firmen_2015_neu['Steuerbarer Gewinn ab CHF'] = Firmen_2015_neu['Steuerbarer Gewinn ab CHF'].apply(geputzt)
Firmen_2015_neu['Anzahl Steuerpflichtige 2015'] = Firmen_2015_neu['Anzahl Steuerpflichtige 2015'].apply(geputzt)
Firmen_2015_neu['Betrag Kantonssteuer 2015 in CHF'] = Firmen_2015_neu['Betrag Kantonssteuer 2015 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_15_neu = Firmen_2015_neu.T

# erste Zeile weg
Firmen15 = firmen_15_neu[1:]

# headers neu
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn 250100 bis 1000000 CHF', 'Steuerbarer Gewinn ab 1000100 CHF', 'Total Steuerbarer Gewinn']
Firmen15.columns = headers

# Objekte in Integers verwandeln, damit ich die Zahlen addieren kann
Firmen15['Steuerbarer Gewinn 0-10000 CHF'] = Firmen15['Steuerbarer Gewinn 0-10000 CHF'].astype(str).astype(int)
Firmen15['Steuerbarer Gewinn 10100-50000 CHF'] = Firmen15['Steuerbarer Gewinn 10100-50000 CHF'].astype(str).astype(int)
Firmen15['Steuerbarer Gewinn 50100-250000 CHF'] = Firmen15['Steuerbarer Gewinn 50100-250000 CHF'].astype(str).astype(int)
Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF'] = Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF'].astype(str).astype(int)
Firmen15['Steuerbarer Gewinn ab 1000100 CHF'] = Firmen15['Steuerbarer Gewinn ab 1000100 CHF'].astype(str).astype(int)
Firmen15['Total Steuerbarer Gewinn'] = Firmen15['Total Steuerbarer Gewinn'].astype(str).astype(int)

# die Spalten addieren
Firmen15['Steuerbarer Gewinn ab 250100 CHF'] = Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF'] + Firmen15['Steuerbarer Gewinn ab 1000100 CHF']

# die überflüssigen addierten Spalten raus
del Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF']
del Firmen15['Steuerbarer Gewinn ab 1000100 CHF']

# die Reihenfolge der Kolonnen anpassen
Firmen15 = Firmen15[['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 
                     'Steuerbarer Gewinn 50100-250000 CHF', 'Steuerbarer Gewinn ab 250100 CHF', 
                     'Total Steuerbarer Gewinn']]

# den Betrag Kantonssteuer raus ziehen
Betrag_Kantonssteuer_2015 = Firmen15.drop(['Anzahl Steuerpflichtige 2015'])
Betrag_Kantonssteuer_2015

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2015 in CHF,1021922,10091127,45625213,487789059,544527320

In [72]:
Anzahl_Steuerpflichtige_2015 = Firmen15.drop(['Betrag Kantonssteuer 2015 in CHF'])
Anzahl_Steuerpflichtige_2015

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2015,23673,5331,4341,2493,35838

### 2016

In [26]:
Firmen_2016 = camelot.read_pdf("Firmen_2016.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [27]:
#zurechtschneiden
test_df = Firmen_2016[0].df
Firmen_16 = test_df[12:]
firmen_2016 = Firmen_16.head(5)
firmen_2016

   0          1          2                                3      4        5
12            0     10'000  24'450\n            \n1'077'015  7'346  136'005
13       10'100     50'000    5'493\n          \n10'153'766    318  419'795
14       50'100    250'000    4'503\n          \n46'507'243    105  617'214
15      250'100  1'000'000    1'753\n          \n77'172'771     25  785'900
16    1'000'100          +       836\n        \n437'530'612      2  210'546

### 2017

In [28]:
Firmen_2017 = camelot.read_pdf("Firmen_2017.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [29]:
#zurechtschneiden
test_df = Firmen_2017[0].df
Firmen_17 = test_df[12:]
firmen_2017 = Firmen_17.head(5)
firmen_2017

   0          1          2                  3      4        5
12            0     10'000  24'918\n1'077'016  7'397  130'289
13       10'100     50'000  5'787\n10'928'683    384  506'320
14       50'100    250'000  4'660\n48'346'317     93  585'929
15      250'100  1'000'000  1'815\n78'738'131     26  780'233
16    1'000'100          +   892\n448'873'343      2  183'392

Okay. Ab 2010 haben alle dieses Problem mit der dritten Kolonne. Das heisst, ich muss die irgendwie auseinander nehmen, dort woe das N ist. 2017 ist noch ein spezielles Jahr, da hats nur ein n drin. Ich mache das in einem neuen Notebook.