Ich habe im Notebook "Gewinnsteuer zusammenfügen" das Problem gehabt, dass ab 2010 mein vorheriger Code nicht mehr funktioniert, weil die Kolonne drei zwei Zahlen beinhaltet und durch /n getrennt ist. Dieses Problem versuche ich hier zu lösen.

In [1]:
import camelot
import tabula
import pandas as pd

In [2]:
Firmen_2010 = camelot.read_pdf("Firmen_2010.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [3]:
#zurechtschneiden
test_df = Firmen_2010[0].df
Firmen_10 = test_df[12:]
firmen_2010 = Firmen_10.head(5)
firmen_2010

   0        1        2                               3      4          5
12          0   10'000  21'101\n           \n1'051'519  6'782    116'360
13     10'100   50'000   4'270\n           \n8'379'718    279    427'696
14     50'100  250'000    3'302\n         \n35'558'173     77    448'731
15    250'100        +     2'028\n       \n388'354'588     34  1'503'531
16      Total              30'701\n      \n433'343'998  7'172  2'496'318

In [23]:

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'etwas seltsames',
           'lassweg', 'überflüssig']
firmen_2010.columns = headers
firmen_2010

,Weglassen,Steuerbarer Gewinn ab CHF,weglassen,etwas seltsames,lassweg,überflüssig
12,,0,10'000,21'101\n \n1'051'519,6'782,116'360
13,,10'100,50'000,4'270\n \n8'379'718,279,427'696
14,,50'100,250'000,3'302\n \n35'558'173,77,448'731
15,,250'100,+,2'028\n \n388'354'588,34,1'503'531
16,,Total,,30'701\n \n433'343'998,7'172,2'496'318

In [33]:
# firmen_2010['A'], firmen_2010['B'] = firmen_2010['etwas seltsames'].str.split('\').str
#gibt errormeldung

In [34]:
firmen_2010.info

<bound method DataFrame.info of    Weglassen Steuerbarer Gewinn ab CHF weglassen  \
12                                   0    10'000
13                              10'100    50'000
14                              50'100   250'000
15                             250'100         +
16                               Total

                   etwas seltsames lassweg überflüssig
12  21'101\n           \n1'051'519   6'782     116'360
13   4'270\n           \n8'379'718     279     427'696
14    3'302\n         \n35'558'173      77     448'731
15     2'028\n       \n388'354'588      34   1'503'531
16     30'701\n      \n433'343'998   7'172   2'496'318  >

## Versuch mit Cutstring

In [31]:
def cutstring(string):
    string = string[' ']
    return string
var = "21'101\n \n1'051'519"
cutstring(var)

TypeError: string indices must be integers

funktioniert nicht, weil ich nicht bei einer integer trennen kann, es ist immer an einer anderen stelle.

In [18]:
test = firmen_2010[3].str.split('\n')
test

12    [21'101,            , 1'051'519]
13     [4'270,            , 8'379'718]
14      [3'302,          , 35'558'173]
15       [2'028,        , 388'354'588]
16       [30'701,       , 433'343'998]
Name: 3, dtype: object

In [ ]:
df['AB_split'] = df['AB'].str.split('-')
>>> df

### Zum Vergleich: so sieht das 2007 aus

In [4]:
Firmen_2007 = camelot.read_pdf("Firmen_2007.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [5]:
#zurechtschneiden
test_df = Firmen_2007[0].df
Firmen_07 = test_df[12:]
firmen_2007 = Firmen_07.head(5)
firmen_2007

   0        1        2       3            4                               5
12          0   10'000  18'759      996'701  7'098\n               \n73'685
13     10'100   50'000   4'028    7'654'106     258\n             \n367'378
14     50'100  250'000   2'636   28'215'316      93\n             \n594'332
15    250'100        +   1'723  487'465'494       31\n          \n1'057'921
16      Total           27'146  524'331'616    7'480\n          \n2'093'316

Hier der ganze bisherige Code, der aber noch ergänzt werden muss:

In [ ]:
#zurechtschneiden
test_df = Firmen_2010[0].df
Firmen_10 = test_df[12:]
firmen_2010 = Firmen_10.head(5)

#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'Anzahl Steuerpflichtige 2010', 'Betrag Kantonssteuer 2010 in CHF', 
           'lassweg']
firmen_2010.columns = headers

#überflüssige kolonnen weg
del firmen_2010['Weglassen']
del firmen_2010['weglassen']
del firmen_2010['lassweg']

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace("'", "").strip()
    return zeile
firmen_2010['Steuerbarer Gewinn ab CHF'] = firmen_2010['Steuerbarer Gewinn ab CHF'].apply(geputzt)
firmen_2010['Anzahl Steuerpflichtige 2010'] = firmen_2010['Anzahl Steuerpflichtige 2010'].apply(geputzt)
firmen_2010['Betrag Kantonssteuer 2010 in CHF'] = firmen_2010['Betrag Kantonssteuer 2010 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_10 = firmen_2010.T

#headers weg
Firmen10 = firmen_10[1:]

#headers neu setzen
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn ab 250100 CHF', 'Total Steuerbarer Gewinn']
Firmen10.columns = headers

#nur den Betrag Kantonssteuer rausziehen
Betrag_Kantonssteuer_2010 = Firmen10.drop(['Anzahl Steuerpflichtige 2010'])
Betrag_Kantonssteuer_2010