Ab 2015 sind bei den Gewinnsteuern die Firmen mit hohen Gewinnen in zwei Kategorien aufgeteilt. Hier schaue ich, wie ich sie in eine bringen kann, damit sie vergleichbar sind mit den anderen Tabellen.

In [76]:
import camelot
import tabula
import pandas as pd

In [77]:
Firmen_2015 = camelot.read_pdf("Firmen_2015.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [78]:
#zurechtschneiden
test_df = Firmen_2015[0].df
Firmen_15 = test_df[12:]
firmen_2015 = Firmen_15.head(6)
firmen_2015

   0          1          2                               3      4          5
12            0     10'000  23'673\n           \n1'021'922  7'260    116'207
13       10'100     50'000     5'331\n        \n10'091'127    336    432'201
14       50'100    250'000     4'341\n        \n45'625'213     83    516'748
15      250'100  1'000'000     1'682\n        \n74'418'861     29    793'017
16    1'000'100          +        811\n      \n413'370'198      4  2'539'892
17        Total                35'838\n      \n544'527'320  7'712  4'398'065

In [79]:
#headers setzen
headers = ['Weglassen', 'Steuerbarer Gewinn ab CHF', 'weglassen', 'etwas seltsames',
           'lassweg', 'überflüssig']
firmen_2015.columns = headers
firmen_2015

,Weglassen,Steuerbarer Gewinn ab CHF,weglassen,etwas seltsames,lassweg,überflüssig
12,,0,10'000,23'673\n \n1'021'922,7'260,116'207
13,,10'100,50'000,5'331\n \n10'091'127,336,432'201
14,,50'100,250'000,4'341\n \n45'625'213,83,516'748
15,,250'100,1'000'000,1'682\n \n74'418'861,29,793'017
16,,1'000'100,+,811\n \n413'370'198,4,2'539'892
17,,Total,,35'838\n \n544'527'320,7'712,4'398'065

In [80]:
# aus einer Kolonne zwei Kolonnen machen
# von https://stackoverflow.com/questions/14745022/how-to-split-a-column-into-two-columns
getrennte_kolonnen15 = firmen_2015['etwas seltsames'].str.split(' ', 1, expand=True)

In [81]:
# überflüssige kolonnen löschen
del firmen_2015['Weglassen']
del firmen_2015['weglassen']
del firmen_2015['lassweg']
del firmen_2015['etwas seltsames']
del firmen_2015['überflüssig']

In [82]:
#die beiden df firmen_2015 und getrennte_kolonnen zusammenfügen
Firmen_2015_neu = pd.concat([firmen_2015, getrennte_kolonnen15], axis=1)
Firmen_2015_neu

   Steuerbarer Gewinn ab CHF         0                      1
12                         0  23'673\n            \n1'021'922
13                    10'100   5'331\n           \n10'091'127
14                    50'100   4'341\n           \n45'625'213
15                   250'100   1'682\n           \n74'418'861
16                 1'000'100     811\n          \n413'370'198
17                     Total  35'838\n          \n544'527'320

In [83]:
#headers setzen
headers = ['Steuerbarer Gewinn ab CHF', 'Anzahl Steuerpflichtige 2015', 'Betrag Kantonssteuer 2015 in CHF']
Firmen_2015_neu.columns = headers

#putzen
def geputzt(zeile):
    zeile = zeile.replace('(', '')
    zeile = zeile.replace(')', '')
    zeile = zeile.replace('\n', '') #das neu rein
    zeile = zeile.replace("'", "").strip()
    return zeile
Firmen_2015_neu['Steuerbarer Gewinn ab CHF'] = Firmen_2015_neu['Steuerbarer Gewinn ab CHF'].apply(geputzt)
Firmen_2015_neu['Anzahl Steuerpflichtige 2015'] = Firmen_2015_neu['Anzahl Steuerpflichtige 2015'].apply(geputzt)
Firmen_2015_neu['Betrag Kantonssteuer 2015 in CHF'] = Firmen_2015_neu['Betrag Kantonssteuer 2015 in CHF'].apply(geputzt)

#um 90 Grad drehen
firmen_15_neu = Firmen_2015_neu.T
firmen_15_neu

,12,13,14,15,16,17
Steuerbarer Gewinn ab CHF,0,10100,50100,250100,1000100,Total
Anzahl Steuerpflichtige 2015,23673,5331,4341,1682,811,35838
Betrag Kantonssteuer 2015 in CHF,1021922,10091127,45625213,74418861,413370198,544527320

In [84]:
# erste Zeile weg
Firmen15 = firmen_15_neu[1:]

# headers neu
headers = ['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 'Steuerbarer Gewinn 50100-250000 CHF', 
           'Steuerbarer Gewinn 250100 bis 1000000 CHF', 'Steuerbarer Gewinn ab 1000100 CHF', 'Total Steuerbarer Gewinn']
Firmen15.columns = headers
Firmen15

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn 250100 bis 1000000 CHF,Steuerbarer Gewinn ab 1000100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2015,23673,5331,4341,1682,811,35838
Betrag Kantonssteuer 2015 in CHF,1021922,10091127,45625213,74418861,413370198,544527320

### nun will ich die grossen gewinne addieren zu einer neuen Kolonne "Steuerbarer Gewinn ab 250100 CHF", damit ich die dann mit den anderen Jahren zusammenführen und vergleichen kann

ich schau mir mal an, ob ich integers oder floats oder strings oder was drin hab.

In [85]:
Firmen15.dtypes

Steuerbarer Gewinn 0-10000 CHF               object
Steuerbarer Gewinn 10100-50000 CHF           object
Steuerbarer Gewinn 50100-250000 CHF          object
Steuerbarer Gewinn 250100 bis 1000000 CHF    object
Steuerbarer Gewinn ab 1000100 CHF            object
Total Steuerbarer Gewinn                     object
dtype: object

mal schauen, ob ich die spalten zusammenaddieren kann, wenn sie objekte beinhalten

In [86]:
#Firmen15['test'] = Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF'] + Firmen15['Steuerbarer Gewinn ab 1000100 CHF']

### das geht nicht. ich muss die objekte in integers verwandeln, um mit ihnen rechnen zu können

In [87]:
Firmen15['Steuerbarer Gewinn 0-10000 CHF'] = Firmen15['Steuerbarer Gewinn 0-10000 CHF'].astype(str).astype(int)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [88]:
Firmen15['Steuerbarer Gewinn 10100-50000 CHF'] = Firmen15['Steuerbarer Gewinn 10100-50000 CHF'].astype(str).astype(int)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [89]:
Firmen15['Steuerbarer Gewinn 50100-250000 CHF'] = Firmen15['Steuerbarer Gewinn 50100-250000 CHF'].astype(str).astype(int)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF'] = Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF'].astype(str).astype(int)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [91]:
Firmen15['Steuerbarer Gewinn ab 1000100 CHF'] = Firmen15['Steuerbarer Gewinn ab 1000100 CHF'].astype(str).astype(int)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [92]:
Firmen15['Total Steuerbarer Gewinn'] = Firmen15['Total Steuerbarer Gewinn'].astype(str).astype(int)

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [93]:
Firmen15.dtypes

Steuerbarer Gewinn 0-10000 CHF               int32
Steuerbarer Gewinn 10100-50000 CHF           int32
Steuerbarer Gewinn 50100-250000 CHF          int32
Steuerbarer Gewinn 250100 bis 1000000 CHF    int32
Steuerbarer Gewinn ab 1000100 CHF            int32
Total Steuerbarer Gewinn                     int32
dtype: object

## Ich addiere die Spalten nochmals

In [94]:
Firmen15['Steuerbarer Gewinn ab 250100 CHF'] = Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF'] + Firmen15['Steuerbarer Gewinn ab 1000100 CHF']

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [95]:
Firmen15

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn 250100 bis 1000000 CHF,Steuerbarer Gewinn ab 1000100 CHF,Total Steuerbarer Gewinn,Steuerbarer Gewinn ab 250100 CHF
Anzahl Steuerpflichtige 2015,23673,5331,4341,1682,811,35838,2493
Betrag Kantonssteuer 2015 in CHF,1021922,10091127,45625213,74418861,413370198,544527320,487789059

Passt! Nur ist jetzt die Reihenfolge noch etwas tscheps. und huch, was ich mich frage: bleibt der steuerbare gewinn ab 250100, wenn ich die grundlagen-kolonnen danach lösche? mal schauen.

In [96]:
del Firmen15['Steuerbarer Gewinn 250100 bis 1000000 CHF']
del Firmen15['Steuerbarer Gewinn ab 1000100 CHF']
Firmen15

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Total Steuerbarer Gewinn,Steuerbarer Gewinn ab 250100 CHF
Anzahl Steuerpflichtige 2015,23673,5331,4341,35838,2493
Betrag Kantonssteuer 2015 in CHF,1021922,10091127,45625213,544527320,487789059

Uff, zum Glück, er bleibt! wie bringe ich jetzt aber die Reihenfolge hin?

Ich probiere mal das scheinbar einfachste von https://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

In [99]:
Firmen15 = Firmen15[['Steuerbarer Gewinn 0-10000 CHF', 'Steuerbarer Gewinn 10100-50000 CHF', 
                     'Steuerbarer Gewinn 50100-250000 CHF', 'Steuerbarer Gewinn ab 250100 CHF', 
                     'Total Steuerbarer Gewinn']]

In [100]:
Firmen15

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Anzahl Steuerpflichtige 2015,23673,5331,4341,2493,35838
Betrag Kantonssteuer 2015 in CHF,1021922,10091127,45625213,487789059,544527320

und dann kommt wieder das:

In [102]:
Betrag_Kantonssteuer_2015 = Firmen15.drop(['Anzahl Steuerpflichtige 2015'])
Betrag_Kantonssteuer_2015

,Steuerbarer Gewinn 0-10000 CHF,Steuerbarer Gewinn 10100-50000 CHF,Steuerbarer Gewinn 50100-250000 CHF,Steuerbarer Gewinn ab 250100 CHF,Total Steuerbarer Gewinn
Betrag Kantonssteuer 2015 in CHF,1021922,10091127,45625213,487789059,544527320

Das ging für einmal richtig schlank durch. Ich setze diesen Code zusammen wiederum im File, in dem ich auch alle Dataframes Gewinnsteuer zusammenführe.